<% provide :title, t(".title") %>
  <h1><%= t ".title" %></h1>
  <p>
    <%= t ".the" %> <%= link_to t(".ror_tut"), "http://www.railstutorial.org/" %> <%= t ".is_a" %>
    <%= link_to t(".book"), "http://www.railstutorial.org/book" %> <%= t "._and" %>
    <%= link_to t(".screencast"), "http://screencasts.railstutorial.org/" %> <%= t ".text" %>
    <%= link_to t(".ror_title"), "http://rubyonrails.org/" %> <%= t ".sample_text" %>
  </p>
