<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".text_1" %> <%= link_to t(".rail_section"), "http://www.railstutorial.org/help" %>.
  <%= t ".text_2" %> <%= link_to t(".rail_book"), "http://www.railstutorial.org/book" %>
</p>
